:root {
    --white: #fff;
    --light-dark: rgba(49, 29, 3, 0.534);
    --dark: #854012;
    --box: #c43c3c;
}

.Banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 380px;

    /* border: 1px solid black; */
}

.Banner .banner {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #fff;
    width: 950%;
    height: 100%;
    /* background-color: #b48319; */
    background-color: rgb(226, 174, 61);
    background-image: linear-gradient(to left, var(--light-dark), var(--dark)),
        url('../img-home/img-img/bann.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
}

.Banner .banner .banner-content {
    margin-left: 4.5rem;
}

.Banner .banner .banner-content h1 {
    font-size: 3.5rem;
    margin: 0;
}

.Banner .banner .banner-content p {
    font-size: 1.06rem;
}

.Banner .cartbox {
    width: 28%;
    height: 100%;

    border: 1px solid red;
}

@media (max-width: 768px) {

    .Banner .banner {
        justify-content: center;
    }

    .Banner .banner .banner-content {
        margin-left: 1.5rem;
    }

    .Banner .banner .banner-content h1 {
        font-size: 3rem;
    }

    .Banner .banner .banner-content p {
        font-size: 1.06rem;
    }
}

@media (max-width: 480px) {

    .Banner .banner .banner-content {
        margin-left: 1.15rem;
    }

    .Banner .banner .banner-content h1 {
        font-size: 0.7rem;
        margin: 0;
    }

    .Banner .banner .banner-content p {
        font-size: 1.06rem;
    }
}