.CartArea {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.CartArea .banner {
    width: 70%;
    height: 100%;

    border: 1px solid red;
}

.CartArea .cartbox {
    width: 28%;
    height: 100%;

    border: 1px solid red;
}