.Category {
    /* border: 1px solid black; */
    width: 25%;
    height: 250px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 0.65rem;
    box-shadow: 0.5px 0.2px 8px 0.3px rgb(138, 137, 137);
    /* background-image: url('../img-home/'); */
    position: relative;
}

.Category img {
    width: 100%;
    height: 250px;
    border-radius: 0.65rem;
}

.Category h2 {
    position: absolute;
    top: 5px;
    left: 0;
    color: #949292;
    /* text-shadow: 2px 0.5px rgb(92, 92, 92); */
    z-index: 1;
    opacity: 0;
    transition: ease-in-out 0.3s;
}

.Category:hover h2 {
    color: whitesmoke;
    opacity: 1;
    left: 12px;
}

.Category .shade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.65rem;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.3s ease;
}

.Category .shade:hover {
    opacity: 1;
}

@media (max-width: 1024px) {
    .Category {
        /* border: 1px solid black; */
        width: 40%;
        height: 250px;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .Category {
        /* border: 1px solid black; */
        width: 80%;
    }
}