.Footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    text-align: left;
    color: #d8d5d5;
    font-size: 1.6rem;
    margin: 1.5rem;
    /* border: 1px solid red; */
}

.Footer-item p {
    cursor: pointer;
    margin-bottom: 1rem;
}

.Footer-item a {
    color: #d8d5d5;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .Footer-item:nth-child(3) {
        display: none;
    }
}

@media (max-width: 480px) {
    .Footer-item {
        /* margin: 1rem; */
        align-items: center;
    }

    .Footer-item:nth-child(2) {
        display: none;
    }
}