.SearchBox,
.SearchBox .icon {
    display: flex;
    /* background-color: rgba(245, 150, 61, 0.5); */
    /* background-color: #faf8e3; */
    justify-content: space-between;
    align-items: center;
}

.SearchBox .icon {
    width: 8%;
}

.SearchBox .icon span {
    cursor: pointer;
}

.SearchBox .search {

    border: 0;
    outline: 0;
    width: 500px;
    /* height: 3rem; */
    border-radius: 0.9rem;
    font-size: 1.4rem;
    padding: 10px 20px;
    background-color: rgb(250, 247, 245);
}

.SearchBox .search:hover {
    background-color: rgba(250, 247, 245, 0.5);
}

.SearchBox .search::placeholder {
    color: rgba(97, 96, 96, 0.5);
}