.SearchBox,
.SearchBox .icon {
    display: flex;
    background-color: rgb(250, 244, 190);
    justify-content: space-between;
}

.SearchBox .icon {
    width: 8%;
}

.SearchBox .icon span {
    cursor: pointer;
}